# Python
__pycache__/
*.pyc
.env
.env/*
# Data
*.trj
*.bin
Miniconda3.sh

# Multiwfn temp files
bndmat.txt
*.cub
*.grd

# xTB temp files
gfnff_charges
gfnff_topo
mdrestart
xtbmdok
scoord.*
_xtb.trj

# xyzrender temp frames
_atom_frames/
_frames/
_local_frames/

# macOS
.DS_Store
